.bg-command {
  background-color: rgba(109, 103, 103, 0.8);
}

.bg-operator {
  background-color: rgba(250, 124, 6, 0.8);
}

.display-parent {
  height: 100px;
  position: relative;
}

.display-answer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.font-lg {
  font-size: 40px;
}

.font-light {
  color: #fff;
}

.transparency {
  opacity: 0.95;
}
